<div class="tab-pane" id="complete" role="tabpanel">
  <div>
    <h4 class="mb-1">Onboarding Complete! 🎉</h4>
    <div class="sub-heading">
      Let your body design your day.
    </div>
  </div>
  <div class="row mt-4">
    <div class="col">
      <div class="row">
        <div class="col-sm-12">
          <div class="mb-3">
            <p class="lead">
              Thanks for taking the time to share how your days really work. Restore will use this to surface meaningful energy trends, personalized insights, and planning support that help you work better by honoring how you live and recover.
              <br /><br />
              Update your responses at any time in settings.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>