<ul class="nav nav-pills nav-justified" role="tablist">
  <li class="nav-item" role="presentation">
    <a href="#welcome" data-bs-toggle="tab" data-toggle="tab" class="nav-link" aria-selected="false" role="tab" tabindex="-1">
      <i class="ph-duotone ph-user-circle"></i>
      <span class="d-none d-sm-inline">Welcome</span>
    </a>
  </li>
  <li class="nav-item" role="presentation">
    <a href="#privacy" data-bs-toggle="tab" data-toggle="tab" class="nav-link" aria-selected="false" role="tab" tabindex="-1">
      <i class="ph-duotone ph-user-circle"></i>
      <span class="d-none d-sm-inline">Privacy</span>
    </a>
  </li>
  <li class="nav-item" role="presentation">
    <a href="#honesty" data-bs-toggle="tab" data-toggle="tab" class="nav-link" aria-selected="false" role="tab" tabindex="-1">
      <i class="ph-duotone ph-user-circle"></i>
      <span class="d-none d-sm-inline">Honesty</span>
    </a>
  </li>
  <li class="nav-item" data-target-form="#generalInfoForm" role="presentation">
    <a href="#generalInfo" data-bs-toggle="tab" data-toggle="tab" class="nav-link" aria-selected="false" role="tab" tabindex="-1">
      <i class="ph-duotone ph-map-pin"></i>
      <span class="d-none d-sm-inline">General Info</span>
    </a>
  </li>
  <li class="nav-item" data-target-form="#workdaySleepForm" role="presentation">
    <a href="#workdaySleep" data-bs-toggle="tab" data-toggle="tab" class="nav-link" aria-selected="false" role="tab" tabindex="-1">
      <i class="ph-duotone ph-map-pin"></i>
      <span class="d-none d-sm-inline">Workday Sleep</span>
    </a>
  </li>
  <li class="nav-item" data-target-form="#nonworkdaySleepForm" role="presentation">
    <a href="#nonworkdaySleep" data-bs-toggle="tab" data-toggle="tab" class="nav-link" aria-selected="false" role="tab" tabindex="-1">
      <i class="ph-duotone ph-map-pin"></i>
      <span class="d-none d-sm-inline">Non-Workday Sleep</span>
    </a>
  </li>
  <li class="nav-item" role="presentation">
    <a href="#mctq" data-bs-toggle="tab" data-toggle="tab" class="nav-link" aria-selected="false" role="tab" tabindex="-1">
      <i class="ph-duotone ph-map-pin"></i>
      <span class="d-none d-sm-inline">MCTQ</span>
    </a>
  </li>
  <li class="nav-item" data-target-form="#workAndEnergyForm" role="presentation">
    <a href="#workAndEnergy" data-bs-toggle="tab" data-toggle="tab" class="nav-link" aria-selected="false" role="tab" tabindex="-1">
      <i class="ph-duotone ph-map-pin"></i>
      <span class="d-none d-sm-inline">Work and Energy</span>
    </a>
  </li>
  <li class="nav-item" data-target-form="#rhythmsAndHabitsForm" role="presentation">
    <a href="#rhythmsAndHabits" data-bs-toggle="tab" data-toggle="tab" class="nav-link" aria-selected="false" role="tab" tabindex="-1">
      <i class="ph-duotone ph-map-pin"></i>
      <span class="d-none d-sm-inline">Rhythm and Habits</span>
    </a>
  </li>
  <li class="nav-item" data-target-form="#caffeineAndFoodForm" role="presentation">
    <a href="#caffeineAndFood" data-bs-toggle="tab" data-toggle="tab" class="nav-link" aria-selected="false" role="tab" tabindex="-1">
      <i class="ph-duotone ph-map-pin"></i>
      <span class="d-none d-sm-inline">Caffeine</span>
    </a>
  </li>
  <li class="nav-item" data-target-form="#nudgesForm" role="presentation">
    <a href="#nudges" data-bs-toggle="tab" data-toggle="tab" class="nav-link" aria-selected="false" role="tab" tabindex="-1">
      <i class="ph-duotone ph-map-pin"></i>
      <span class="d-none d-sm-inline">Energy Pulse</span>
    </a>
  </li>

  <li class="nav-item" role="presentation">
    <a href="#complete" data-bs-toggle="tab" data-toggle="tab" class="nav-link" aria-selected="false" role="tab" tabindex="-1">
      <i class="ph-duotone ph-map-pin"></i>
      <span class="d-none d-sm-inline">Complete</span>
    </a>
  </li>
</ul>