<div class="tab-pane" id="privacy" role="tabpanel">
  <div>
    <h4 class="mb-1">Your Privacy Matters</h4>
    <div class="sub-heading">
      Restore is an independent platform.
    </div>
  </div>
  <div class="row mt-4">
    <div class="col">
      <div class="row">
        <div class="col-sm-12">
          <div class="mb-3">
            <p class="lead">
              Your responses are never shared with your employer. Your data is stored separately and securely. 
              <br /><br />
              Results are private and personal to you.<br />
              If you’re using Restore through a workplace program, your organization may see aggregate, anonymous insights to help reduce burnout across the enterprise. 
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>