<div class="tab-pane" id="welcome" role="tabpanel">
  <div>
    <h4 class="mb-1">Welcome to Restore!</h4>
    <div class="sub-heading">
      Let your body design your day.
    </div>
  </div>
  <div class="row mt-4">
    <div class="col">
      <div class="row">
        <div class="col-sm-12">
          <div class="mb-3">
            <p class="lead">
              Restore uses <b>energy intelligence</b> to calculate your ideal cognitive performing workday - supporting you with data, insights and recommendations on how to design your day and recover for the best possible work-life balance and sustained high performance.
              <br /><br />
              This <b>10-minute</b> onboarding sets the foundation for personalized trends, insights, and planning support designed just for you.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>