<div class="tab-pane" id="workdaySleep" role="tabpanel">
  <form id="workdaySleepForm" data-key="workday_sleep" method="post" action="#" class="needs-validation" novalidate>
    <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
    <div>
      <h4 class="mb-2">Your Workday Sleep</h4>
      <div class="sub-heading">
        Think about a typical workday, not your best or worst one.
      </div>
    </div>
    <div class="row mt-4">
      <div class="col-sm-6">
        <div class="mb-3">
          <label class="form-label medium">Time to Fall Asleep</label>
          <select name="workday_time_to_sleep" data-value="{{workday_sleep.workday_time_to_sleep}}" class="form-select" required>
            <option value=""></option>
            <option value="<5">Less than 5min</option>
            <option value="5">5 min</option>
            <option value="10">10 min</option>
            <option value="15">15 min</option>
            <option value="20">20 min</option>
            <option value="25">25 min</option>
            <option value="30">30 min</option>
            <option value="35">35 min</option>
            <option value="40">40 min</option>
            <option value="45">45 min</option>
            <option value="50">50 min</option>
            <option value="55">55 min</option>
            <option value="60">60 min</option>
            <option value=">60">More than 60 min</option>
          </select>
          <span class="text-muted">How long does it usually take you to fall asleep?</span>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="mb-3">
          <label class="form-label medium">Sleep Start Time</label>
          <input id="workday_sleep_time" data-value="{{workday_sleep.workday_sleep_time}}" name="workday_sleep_time" class="form-control pick-time-eve" type="time" placeholder="What time do you usually fall asleep on worknights?" required>
          <span class="text-muted">When you actually fall asleep, not when you get into bed.</span>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="mb-3">
          <label class="form-label">Alarm Use</label>
          <select name="workday_alarm_use" data-value="{{workday_sleep.workday_alarm_use}}" class="form-select" required>
            <option value=""></option>
            <option value="yes">Yes</option>
            <option value="no">No</option>
            <option value="sometimes">Sometimes</option>
          </select>
          <span class="text-muted">This factors into your chronotype.</span>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="mb-3">
          <label class="form-label medium">Wake Up Time</label>
          <input id="workday_wakeup_time" data-value="{{workday_sleep.workday_wakeup_time}}" name="workday_wakeup_time" class="form-control pick-time-morn" type="time" placeholder="What time do you wake up on workdays?" required>
          <span class="text-muted">Your first wake-up, even if you stay in bed after.</span>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="mb-3">
          <label class="form-label medium">Sleep-in Time</label>
          <select name="workday_sleepin_time" data-value="{{workday_sleep.workday_sleepin_time}}" class="form-select" required>
            <option value=""></option>
            <option value="<5">Less than 5min</option>
            <option value="5">5 min</option>
            <option value="10">10 min</option>
            <option value="15">15 min</option>
            <option value="20">20 min</option>
            <option value="25">25 min</option>
            <option value="30">30 min</option>
            <option value="35">35 min</option>
            <option value="40">40 min</option>
            <option value="45">45 min</option>
            <option value="50">50 min</option>
            <option value="55">55 min</option>
            <option value="60">60 min</option>
            <option value=">60">More than 60 min</option>
          </select>
          <span class="text-muted">How long do you sleep in or snooze on work mornings?</span>
        </div>
      </div>
    </div>
  </form>
</div>