<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
  <title>RESTORE | {% block title %}{% endblock title %} </title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="">
  <meta name="keywords" content="">
  <link rel="icon" href="{% static 'assets/images/favicon-192x192.png' %}" type="image/x-icon">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;500;600;700&display=swap" id="main-font-link">
  <link rel="stylesheet" href="{% static 'assets/fonts/feather.css' %}">
  <link rel="stylesheet" href="{% static 'assets/fonts/fontawesome.css' %}">
  <link rel="stylesheet" href="{% static 'assets/fonts/material.css' %}">
  <link rel="stylesheet" href="{% static 'assets/fonts/tabler-icons.min.css' %}">
  <link rel="stylesheet" href="{% static 'assets/css/plugins/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'assets/css/style.css' %}" id="main-style-link">
  <link rel="stylesheet" href="{% static 'assets/css/style-preset.css' %}">
  <link rel="stylesheet" href="{% static 'assets/css/overrides.css' %}">
  {% block custom_head %}{% endblock custom_head %}
</head>

<body data-pc-preset="preset-5" data-pc-direction="ltr" data-pc-theme="light">
  <div class="loader-bg">
    <div class="loader-track">
      <div class="loader-fill"></div>
    </div>
  </div>

  {% block content %}{% endblock content %}

  {% include 'includes/_toasts.html' %}

  <script src="{% static 'assets/js/plugins/bootstrap.min.js' %}"></script>
  <script src="{% static 'assets/js/fonts/custom-font.js' %}"></script>
  <script src="{% static 'assets/js/fonts/custom-ant-icon.js' %}"></script>
  <script src="{% static 'assets/js/plugins/pcoded.js' %}"></script>
  <script src="{% static 'assets/js/plugins/feather.min.js' %}"></script>
  <script src="{% static 'assets/js/plugins/theme.js' %}"></script>
  <script src="{% static 'assets/js/helpers/timezone.js' %}"></script>
  <script src="{% static 'assets/js/helpers/common.js' %}"></script>
  {% block custom_js %}{% endblock custom_js %}
</body>
</html>