{% extends 'layouts/_base_external.html' %}
{% load static %}

{% block title %}Login{% endblock title %}

{% block content %}
  <form id="login" method="POST" action="{% url 'login' %}">
    {% csrf_token %}
    <div class="auth-main">
      <div class="auth-wrapper v3">
        <div class="auth-form">
          <div class="auth-header">
            <a href="/"><img src="{% static 'assets/images/logo-dark.png' %}" alt="img" height="50"></a>
          </div>
          <div class="card my-5">
            <div class="card-body">
              <div class="d-flex justify-content-between align-items-end mb-4">
                <h3 class="mb-0"><b>Login</b></h3>
                <a href="{% url 'register' %}">Don't have an account?</a>
              </div>
              <div class="d-flex mt-1">
                {% for message in messages %}
                  {% if message.tags == 'error' %}
                    <p class="text-danger">{{ message }}</p>
                  {% elif message.tags == 'success' %}
                    <p class="text-success">{{ message }}</p>
                  {% elif message.tags == 'warning' %}
                    <p class="text-warning">{{ message }}</p>
                  {% else %}
                    <p class="text-info">{{ message }}</p>
                  {% endif %}
                {% endfor %}
              </div>
              <div class="form-group mb-3">
                <label class="form-label">Email Address</label>
                <input type="email" name="email" class="form-control" placeholder="Email Address" required>
              </div>
              <div class="form-group mb-3">
                <label class="form-label">Password</label>
                <input type="password" name="password" class="form-control" placeholder="Password" required>
              </div>
              <div class="d-flex mt-1 pull-right">
                <h6 class="text-secondary f-w-400"><a href="#">Forgot Password?</a></h6>
              </div>
              <div class="d-grid mt-4">
                <input type="hidden" name="timezone" id="timezone">
                <button type="submit" class="btn btn-primary">Login</button>
              </div>
            </div>
          </div>
          <div class="auth-footer row">
            {% include 'includes/_footer.html' %}
          </div>
        </div>
      </div>
    </div>
  </form>
{% endblock content %}
{% block custom_js %}
  <script>
    window.onload = setTimezoneSelect;
  </script>
{% endblock custom_js %}